.login-container {
//   background: linear-gradient(159deg, #EFF6FF 0%, #DBEAFE 100%);
  background-image: url('/assets/img/facultad-unmsm.png');
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 14px;
}

.logo-circle {
  width: 64px;
  height: 64px;
  background: #155DFC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-system {
  font-size: 23px;
  color: #0A0A0A;
  font-weight: 500;
}

.subtitle-system {
  font-size: 15px;
  color: #717182;
}

.custom-input {
  background: #F3F3F5;
  border: none;
  border-radius: 8px;
  padding: 10px 13px;
  
  &::placeholder {
    color: #717182;
  }
}

.btn-login {
  background: #030213;
  border-radius: 8px;
  font-weight: 500;
}

.test-users {
  background-color: #EFF6FF;
  border: none;
  line-height: 1.4;
}